<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link type="text/css" media="all" rel="stylesheet"
          th:href="@{/css/default.css}"
          href="../../css/default.css"/>
    <link type="text/css" media="all" rel="stylesheet"
          th:href="@{/css/fonts.css}"
          href="../../css/fonts.css"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">

            <ul class="nav">
                <li>
                    <a th:href="@{/create}" href="transactionForm.html" class="active">
                        Добавить транзакцию
                    </a>
                </li>
                <li>
                    <a th:href="@{/transactions}" href="transactions.html" class="active">
                        Транзакции
                    </a>
                </li>
                <li>
                    <a th:href="@{/categories}" href="categoryForm.html" class="active">
                        Категории
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>