<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>

        <title>Транзакции</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
        <link type="text/css" media="all" rel="stylesheet"
              th:href="@{/css/default.css}"
              href="../../css/default.css"/>
        <link type="text/css" media="all" rel="stylesheet"
              th:href="@{/css/fonts.css}"
              href="../../css/fonts.css"/>


    <link rel="stylesheet"
          href="../../css/style.css"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div style="width: 500px; padding-left: 23%">

    <p th:if="${dateCategoryMap.empty}">История транзакций пуста :(</p>


    <table class="table table-bordered table-striped" th:each="day,iterStat : ${dates}">
        <div class="date-sum">
            <H3 th:text="${day}" style="float: left"></H3>
            <H3 style="float: right">
                <span th:if="${daySums.get(iterStat.index) > 0}">+</span><span th:text="${daySums.get(iterStat.index)}"></span> руб.
            </H3>
        </div>

        <div th:each="category : ${dateCategoryMap.get(day).keySet()}" >
            <tr class="row" th:classappend="${iterStat.odd} ? 'odd-row' : 'even-row'">
                <td class="boldField" th:text="${category}">
                </td>

                <td class="boldField" style="text-align: right;">
                    <span th:if="${categorySums.get(day).get(category) > 0}">+</span><span th:text="${categorySums.get(day).get(category)}"></span>
                    руб.


                </td>
            </tr>

            <div th:each="trans : ${dateCategoryMap.get(day).get(category)}">
                <tr class="row" th:classappend="${iterStat.odd} ? 'odd-row' : 'even-row'">
                    <td th:text="${trans.trans_name}">
                    </td>


                    <td style="text-align: right;">
                        <span th:if="${trans.amount > 0}">+</span><span th:text="${trans.amount}"></span>
                        руб.
                    </td>
                </tr>
            </div>
        </div>



    </table>
        </div>
    </div>
</div>

</body>
</html>