<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Логин</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css"/>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="/js/login.js" type="text/javascript"></script>
</head>
<body>
    <div class="container">
        <div class="box"></div>
        <div class="container-forms">
            <div class="container-info">
                <div class="info-item">
                    <div class="table">
                        <div class="table-cell">
                            <p>
                                Уже есть аккаунт?
                            </p>
                            <div class="btn">
                                Вход
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-item">
                    <div class="table">
                        <div class="table-cell">
                            <p>
                                Ещё нет аккаунта?
                            </p>
                            <div class="btn">
                                Регистрация
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-form">
                <div class="form-item log-in">
                    <div class="table">
                        <div class="table-cell">
                            <form th:action="@{/login/log}" method="post">
                                <input name="Username" placeholder="Имя" type="text" />
                                <input name="Пароль" placeholder="Пароль" type="Password" />
                                <input class="btn" type="submit" value="Войти"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="form-item sign-up">
                    <div class="table">
                        <div class="table-cell">
                            <form th:action="@{/login/reg}" method="post">
                                <input name="email" placeholder="Логин" type="text" />
                                <input name="Username" placeholder="Имя" type="text" />
                                <input name="Password" placeholder="Пароль" type="Password" />
                                <input class="btn" type="submit" value="Зарегистрироваться"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".info-item .btn").click(function () {
          $(".container").toggleClass("log-in");
        });
        $(".container-form .btn").click(function () {
          $(".container").addClass("active");
        });
    </script>
</body>
</html>